.mt {
  margin-top: 125px;
}

.ml-logo {
  margin-left: 30px;
}

.Back-color {
  background-color: #682e77;
}
.Txt-end {
  text-align: end;
}
.border {
  border-color: blue;
  outline-color: blue;
  background-color: rgb(0, 0, 0);
}

.icon-padding {
  padding-right: 10px;
}

.progress-mr {
  margin-right: 65px;
}

.clr-line {
  background-color: #bcbcbc;
  color: #35c38b;
  max-width: 88%;
}

.font-size {
  font-size: medium;
  font-weight: bold;
}

.w-color {
  color: white;
}

.acc-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-style {
  border-radius: 10px;
  padding-right: 100px;
  padding-left: 100px;
}

.btn-green {
  background-color: #a0b671;
  color: #fff;
}

.btn-violet {
  background-color: #682e77;
  color: #fff;
}

.btn-grey {
  background-color: #bcbcbc;
  color: #fff;
}

.btn-color {
  background-color: #682e77;
  color: #fff;
}

.bg-table {
  background-color: #682e77;
  text-align: center;
  justify-content: center;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
